image: hafiyyan94/androidsdk25gitlabci:newTry

stages:
  - build
  - test

before_script:
    - export GRADLE_USER_HOME=`pwd`/.gradle
    - mkdir -p $GRADLE_USER_HOME
    - chmod +x ./gradlew

cache:
  paths:
     - .gradle/wrapper
     - .gradle/caches

build:
  stage: build
  script:
      - ./gradlew assembleDebug
      - ./gradlew assembleDebugAndroidTest
  artifacts:
    paths:
      - app/build/outputs/
    expire_in: 1 week

test:
  stage: test
  script:
      - echo "no" | sdk/emulator/emulator -avd test  -wipe-data -noaudio -no-window -gpu off -verbose -no-accel && /helpers/wait-for-avd-boot.sh
      - /sdk/platform-tools/adb install -r app/build/outputs/apk/app-debug.apk
      - /sdk/platform-tools/adb install -r app/build/outputs/apk/app-debug-androidTest-unaligned.apk
      - /sdk/platform-tools/adb shell am instrument -w -r -e package id.ac.ui.cs.myui -e debug false id.ac.ui.cs.myui.test/android.support.test.runner.AndroidJUnitRunn er